// CSS variables
:root{
--body-bg: #1C1C1C;
--main-bg: #1F2937;
--title-color: #FFF;
--title-span-color: #4ADF86;
--paragraph-color: #D5D4D8;
--btn-color: #10B981;
--btn-color-hover: #69F2C4;
--input-color: #273549;
--dots-color: #202B3C;
--password-color: #55F991;
--line-color: #2F3E53;
}